doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title #{title}
  link(rel='stylesheet' href='/css/styles.css')
  script(type='text/javascript' src='/js/scripts.js')

body
  header
      nav.navbar
        ul
          li
            a(href="/")
              img.logo(src="/images/icon2.png", alt="our logo")
          li
              a(href="/review") All reviews 
          li
              a(href="/review/create") Add review
  .center
    h1 Reviews List
    a(href="/review/create") Create New Review

  .reviewsList
    each review in reviews
      .card
        h2= review.review.title
        p
          strong Author: 
          | #{review.review.author}
        p
          strong Genre: 
          | #{review.review.genre}
        p
          strong Rating: 
          | #{review.review.rating}
        p.fullReview
          strong Full Review: 
          | #{review.review.fullReview}
        .actions
          a.BtnUpdate(href=`/review/update/${review.id}`) Update
          span &nbsp;
          a.BtnDelete(href=`/api/review/delete/${review.id}`) Delete



