doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title #{title}
  link(rel='stylesheet' href='/css/styles.css')
  script(type='text/javascript' src='/js/scripts.js')
body
    .container
        - var formAction = review && review.id ? `/api/review/update/${review.id}` : '/api/review/create'
        - var formTitle = review && review.id ? 'Update review' : 'Create review'
        - var sTitle = review ? (review.review ? review.review.title : review.title) : ''
        - var sAuthor = review ? (review.review ? review.review.author : review.author) : ''
        - var sGenre = review ? (review.review ? review.review.genre : review.genre) : ''
        - var sRating = review ? (review.review ? review.review.rating : review.rating) : ''
        - var sFullReview = review ? (review.review ? review.review.fullReview : review.fullReview) : ''

        h1.formTitle= formTitle

        if errors && errors.length
            .error-message
                ul.error-list
                    each err in errors
                        li= err.msg

        form.review-form(method="post", action=formAction)
            if review && review.id
                input(type="hidden", name="id", value=review.id)

            .form-group
                label(for="title") Title
                input(type="text", name="title", id="title", value=sTitle, placeholder="Enter review's title")

            .form-group
                label(for="author") Author
                input(type="text", name="author", id="author", value=sAuthor, placeholder="Enter author")

            .form-group
                label(for="genre") Genre
                    select(name="genre" id="genre")
                        option(value="fiction" selected=(sGenre === 'fiction')) Fiction
                        option(value="nonfiction" selected=(sGenre === 'nonfiction')) Non-Fiction
                        option(value="sci-fi" selected=(sGenre === 'sci-fi')) Science Fiction
                        option(value="romance" selected=(sGenre === 'romance')) Romance
            .form-group
                label(for="rating") How would you rate this review?
                input(type="number", name="rating", id="rating", value=sRating, min="1" max="5" step="1")

            .form-group
                label(for="fullReview") Write is your opinion about this review
                input(type="text", name="fullReview", id="fullReview", value=sFullReview, placeholder="Write your opinion")
            button.BtnSubmit(type="submit") Submit


