doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title #{title}
  link(rel='stylesheet' href='/css/styles.css')
  script(type='text/javascript' src='/js/scripts.js')
body
    .container
        - var formAction = book && book.id ? `/api/book/update/${book.id}` : '/api/book/create'
        - var formTitle = book && book.id ? 'Update book' : 'Create book'
        - var sTitle = book ? (book.book ? book.book.title : book.title) : ''
        - var sAuthor = book ? (book.book ? book.book.author : book.author) : ''
        - var sGenre = book ? (book.book ? book.book.genre : book.genre) : ''
        - var sRating = book ? (book.book ? book.book.rating : book.rating) : ''
        - var sFullReview = book ? (book.book ? book.book.fullReview : book.fullReview) : ''

        h1.formTitle= formTitle

        if errors && errors.length
            .error-message
                ul.error-list
                    each err in errors
                        li= err.msg

        form.book-form(method="post", action=formAction)
            if book && book.id
                input(type="hidden", name="id", value=book.id)

            .form-group
                label(for="title") Title
                input(type="text", name="title", id="title", value=sTitle, placeholder="Enter book's title")

            .form-group
                label(for="author") Author
                input(type="text", name="author", id="author", value=sAuthor, placeholder="Enter author")

            .form-group
                label(for="genre") Genre
                    select(name="genre" id="genre")
                        option(value="fiction" selected=(sGenre === 'fiction')) Fiction
                        option(value="nonfiction" selected=(sGenre === 'nonfiction')) Non-Fiction
                        option(value="sci-fi" selected=(sGenre === 'sci-fi')) Science Fiction
                        option(value="romance" selected=(sGenre === 'romance')) Romance
            .form-group
                label(for="rating") How would you rate this book?
                input(type="number", name="rating", id="rating", value=sRating, min="1" max="5" step="1")

            .form-group
                label(for="fullReview") Write is your opinion about this book
                input(type="text", name="fullReview", id="fullReview", value=sFullReview, placeholder="Write your opinion")
            button.BtnSubmit(type="submit") Submit


