doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title #{title}
  link(rel='stylesheet' href='/css/styles.css')
  script(type='text/javascript' src='/js/scripts.js')
body
    header
      nav.navbar
        ul
          li
            a(href="/")
              img.logo(src="/images/icon2.png", alt="our logo")
          li
              a(href="/review") All reviews 
          li
              a(href="/review/create") Add review

    .container
        - var formAction = review && review.id ? `/api/review/update/${review.id}` : '/api/review/create'
        - var formTitle = review && review.id ? 'Update review' : 'Create review'
        - var sTitle = review ? (review.review ? review.review.title : review.title) : ''
        - var sAuthor = review ? (review.review ? review.review.author : review.author) : ''
        - var sGenre = review ? (review.review ? review.review.genre : review.genre) : ''
        - var sRating = review ? (review.review ? review.review.rating : review.rating) : ''
        - var sFullReview = review ? (review.review ? review.review.fullReview : review.fullReview) : ''

        h1.formTitle= formTitle

        if errors && errors.length
            .errorMessage
                ul.errorList
                    each error in errors
                        li= error.msg

        form.Form(method="post", action=formAction)
            if review && review.id
                input(type="hidden", name="id", value=review.id)

            .formField#title
                label(for="title") Title
                input(type="text", name="title", id="title", value=sTitle, placeholder="Enter review's title")

            .formField#author
                label(for="author") Author
                input(type="text", name="author", id="author", value=sAuthor, placeholder="Enter author")

            .formField#genre
                label(for="genre") Genre
                    select(name="genre" id="genre")
                        option(value="detective" selected=(sGenre === 'detective')) Detective
                        option(value="history" selected=(sGenre === 'history')) History
                        option(value="sci-fi" selected=(sGenre === 'sci-fi')) Science Fiction
                        option(value="adventure" selected=(sGenre === 'adventure')) Adventure 
                        option(value="novel" selected=(sGenre === 'novel')) Novel
                        option(value="fantasy" selected=(sGenre === 'fantasy')) Fantasy
                        option(value="horror" selected=(sGenre === 'horror')) Horror
                        option(value="romance" selected=(sGenre === 'romance')) Romance
            .formField#rating
                label(for="rating") How would you rate this book on a 10-point scale?
                input(type="number", name="rating", id="rating", value=sRating, min="1" max="10" step="1")

            .formField#bookOpinion
                label(for="fullReview") What is your opinion about this book
                textarea(name="fullReview", id="fullReview")= sFullReview
            button.BtnSubmit(type="submit") Submit


